*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
    background-image: url("background-image-1.webp");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
}
.first-part{  
    width: 100%;
    display: flex;
    gap: 16%;
    height: 20%;
    background: none
}
.logo{
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    cursor: pointer;
    display: inline-block;
    background: none;
    width: 30%;
    height: 10vh;
}
.logo div{
    box-shadow: 0px 0px 15px 2px white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    width: 100%;
    align-items: center
}
.logo div .logotip{
    border-top-left-radius: 40px;
    border-right: 3px solid white;
    width: 23%;
    height: 23%;
}
.logo div .logo-text{
    box-shadow: 0px 0px 15px 2px white;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 90%
}
.logo p{
    margin-top: 2%;
    font-size: 22px;
    z-index: 10;
    color: white
}
.pages{
    display: inline-block;
    height: 10vh;
    width: 70%;
    gap: 6%;
    background: none;
    display: flex;
    margin-top: 2%;
    align-items: center
}
.pages a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
    color: white;
    font-size: 23px;
    transition: 300ms
}
.pages a:hover{
    transform: rotate(5deg);
    color: orange;
}
.pages a:active{
    color: black
}   
#menu-toggle {
    display: none; /* дар аввали пинҳон */
    color: white;
    background: none;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
#menu-toggle:hover {
    border-left: 3px solid white;
    border: 1px solid white
}
#rotating-text{
    margin-top: 8%;
    display: flex;
    background-color: #f09815;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 80px;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    box-shadow: 0px 0px 50px 20px #f09815;
}
#effect{
    position: absolute;
    width: 70%;
    margin-left: 20vw;
    margin-top: 10vw;
    transform: rotate(-44deg);
    height: 60%;
    background: none;
    opacity: 0.7;
}
.learn-more{
    transition: 300ms;
    cursor: pointer;
    margin-top: 36%;
    margin-bottom: 16%;
    width: 18%;
    border: 2px solid white;
    height: 10vh;
    color: white;
    border-bottom-right-radius: 30px;
    margin-left: 60%;
    display: flex;
    background-color: rgb(68, 7, 124);
    font-size: 30px;
    align-items: center;
    justify-content: center
}
.learn-more:hover{
    background-color: darkmagenta
}
.box2{
    height: 50vw;
    display: flex;
    align-items: center;
    margin-top: 0%;
    background-image: url(background-image-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top
}
#rotating-topic{
    opacity: 1;
    transition: opacity 0.5s ease;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 30px;
    font-family: monospace;
    color: white
}
.carousel-container {
    background-image: url(carousel-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    width: 100%;
    height: 96vw;
    margin: 0 auto;
}
.right-hend{
    position: absolute;
    z-index: 3;
    width: 33%;
    height: 21%;
    margin-top: 62%;
    margin-left: 21%;
    transform: rotate(40deg)
}
.left-hend{
    position: absolute;
    z-index: 3;
    width: 22%;
    height: 22%;
    margin-top: 45%;
    margin-left: 52%;
    transform: rotate(0deg)
}
.carousel {
    padding-top: 45%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;
    perspective: 1000px;
}
.carousel-item {
    position: absolute;
    width: 50%;
    margin-left: 12%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    border-radius: 8px;
    overflow: hidden;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    background: none;
    object-fit: cover;
}
.carousel-item:nth-child(1) {
    transform: translateX(-50%) scale(0.8);
    z-index: 1;
    opacity: 0.8;
}   
.carousel-item:nth-child(2) {
    transform: translateX(-50%) scale(0.7);
    z-index: 2;
    opacity: 0.9;
}
.carousel-item:nth-child(3) {
    transform: translateX(10%) scale(1.2);
    z-index: 3;
}
.carousel-item:nth-child(4) {
    transform: translateX(30%) scale(0.9);
    z-index: 2;
    opacity: 0.9;
}
.carousel-item:nth-child(5) {
    transform: translateX(40%) scale(0.8);
    z-index: 1;
    opacity: 0.8;
}
.carousel-nav {
    display: flex;
    background: none;
    width: 100%;
    justify-content: center;
    margin-top: 12%;
}

.carousel-nav button {
    background: none;
    border: 1px solid black;
    margin: 0 20%;
    width: 5%;
    height: 1%;
    cursor: pointer;
    border-radius: 4px;
}
.carousel-nav .button-left img{
    width: 100%;
    transition: 200ms;
    transform: rotate(-90deg);
    height: 100%
}
.carousel-nav .button-right img{
    width: 100%;
    transform: rotate(90deg);
    height: 100%
}
.carousel-nav button:hover {
    background: orange;
}
.news{
    background-color: rgb(43, 44, 44);
    width: 100%;
    height: auto;
}
.news h1{
    margin-bottom: 5%;
    margin-left: 10%;
    padding-top: 10%;
    font-size: 40px;
    color: white
}
.news h1 img{
    width: 4%;
    border-radius: 20px;
    margin-top: 5px;
    height: 4%;
}
.news-all{
    display: flex;
    padding-bottom: 5%
}
.news-all h3{
    color: white;
    margin-left: 2%;
    margin-top: 5%
}
.news-all p{
    margin-top: 6%;
    color: lightgray
}
.date{
    margin-top: 5%;
    margin-left: 10%;
    flex-wrap: wrap;
    display: flex;
    background-color: orangered;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: none;
    width: 6%;
    height: 3%;
}
.date h1{
    margin-left: 20%;
}
.date p{
    color: white;
    font-size: 22px;
    margin-top: -4%;
    margin-left: 20%;
}
.box3{
    background-image: url(background-image-3.jpg);
    background-repeat: repeat;
    background-size: 100%;
}
.images{
    gap: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    height: auto;
    background: none;
    margin: 0 auto;
    padding-bottom: 8%
}
.images div {
    flex: 1;
    max-width: 35%;
}
.images img {
    border-radius: 30px;
    width: 100%;
    border: 4px solid black;
    box-shadow: 0px 0px 10px 2px white;
    height: auto;
    display: block;
}
.images div h2{
    color: white;
    font-size: 17px;
    background-color: black;
    box-shadow: 0px 0px 10px 10px black;
    margin-top: 2%;
    font-family: sans-serif;
    display: flex;
    z-index: 3;
    justify-content: center;
    text-align: center;
}
.images div p{
    padding-top: 0%;
    padding-bottom: 2%;
    box-shadow: 0px 0px 10px 4px white;
    display: flex;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    background-color: black;
    color: rgb(248, 153, 29)
}
.because{
    margin-left: 10%;
    display: block;
    font-size: 35px;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%
}
.because img{
    width: 10%;
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 5%;
    height: 10%;
}
.logo-end{
    margin: 0 auto;
    display: flex;
    margin-bottom: 3%;
    width: 28%;
    box-shadow: 0px 0px 15px 2px black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.logo-end .logo2-text{
    box-shadow: 0px 0px 15px 10px black;
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 100%
}
.logo-end .logotip2{
    z-index: 4;
    border-top-left-radius: 40px;
    border-right: 3px solid white;
    width: 23%;
    height: 23%;
}
.over-all{
    padding-top: 7%;
    width: 100%;
    padding-bottom: 1%;
    text-align: center
}
.address-p{
    display: flex;
    box-shadow: 0px 0px 30px 20px black;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 8vh;
    width: 30%;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 1%;
}
.address-button{
    box-shadow: 0px 0px 20px 30px black;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 auto
}
.e-mail-button{
    box-shadow: 0px 0px 20px 30px black;
    padding-top: 1%;
    margin-top: 6%;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto
}
.follow {
    box-shadow: 0px 0px 30px 30px black;
    background: none;
    display: flex;
    margin: 0 auto;
    margin-top: 4%;
    width: 85%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: auto;
}
.follow input{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 20px;
    padding-left: 4%;
    height: 10vh;
    width: 90%
}
.follow button{
    transition: 300ms;
    cursor: pointer;
    width: 25%;
    border: none;
    font-size: 20px;
    background-color: orangered
}
.follow button:hover{
    background-color: coral
}
.designed-by{
    margin-top: 10%;
    width: 70%;
    margin-left: 15%;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 5vh;
    background-color: black;
    box-shadow: 0px 0px 30px 30px black;
    margin-bottom: 6%
}
@media (min-width: 1200px) {
    .first-part {
        gap: 6%;
    }
    .logo {
        margin-left: 2%;
        width: 25%;
    }
    .pages a {
        font-size: 25px;
    }
    #rotating-text {
        font-size: 70px;
    }
    .logo-end .logotip2{
        height: auto;
    }
} 
@media (min-width: 992px) and (max-width: 1199px) {
    .first-part {
        gap: 6%;
    }
    .logo {
        width: 30%;
    }
    .pages{
        gap: 4%;
        width: 65%;
    }
    .pages a {
        margin-left: 1%;
        font-size: 20px;
    }
    #rotating-text {
        font-size: 50px;
    }
    #effect{
        height: 35%;
    }
    .learn-more{
        font-size: 18px
    }
    #rotating-topic{
        font-size: 22px
    }
    .logo-end .logotip2{
        height: auto;
    }
    .address-p{
        width: 45%;
        font-size: 24px
    }
    .address-button{
        box-shadow: 0px 0px 10px 10px black
    }
    .follow input{
        height: 8vh;
    }
}
@media (min-width: 769px) and (max-width: 991px) {
    .first-part {
        gap: 5%;
    }
    .logo {
        width: 28%;
        margin-left: 3%;
    }
    .logo p {
        font-size: 16px;
    }
    .pages {
        gap: 3%;
        margin-left: 0%;
        width: 65%;
    }
    .pages a {
        font-size: 16px;
        margin-left: 2%;
    }
    #rotating-text {
        font-size: 50px;
    }
    #effect{
        height: 30%;
    }
    .learn-more {
        width: 18%;
        font-size: 20px;
    }
    #rotating-topic {
        font-size: 20px;
    }
    .news h1 {
        font-size: 30px;
    }
    .box3{
        background-repeat: repeat
    }
    .because {
        font-size: 25px;
    }
    .images div h2 {
        font-size: 13px;
    }
    .images div p {
        font-size: 18px;
    }
    .logo-end .logotip2{
        border-top-left-radius: 15px;
        height: auto;
    }
    .address-p{
        width: 70%
    }
    .address-button{
        box-shadow: 0px 0px 20px 10px black;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .first-part {
        display: flex;
        gap: 0%
    }
    .logo {
        padding-left: 10%;
        width: 60%;
        margin: 2% auto;
    }
    .logo p {
        box-shadow: 0px 0px 10px 10px black;
        width: 100%;
        background-color: black;
        font-size: 15px;
    }
    .logo div{
        width: 100%
    }
    .logo div .logotip{
        border-top-left-radius: 30px
    }
    .pages {
        position: relative;
        flex-direction: column;
        align-items: flex-end;
    }
    #menu-toggle {
        font-size: 24px;
        margin-right: 13%;
        margin-top: 3%;
        display: block;
    }
    .pages a {
        display: none;
        background-color: chocolate;
        color: black;
        padding: 8px 5px;
        border-radius: 4px;
        font-size: 16px;
        text-align: right;
        border-left: 2px solid white;
        width: 55%;
        z-index: 100;
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    }
    .pages a:hover{
        color: white
    }
    .pages a.show {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #rotating-text {
        display: block;
        font-size: 25px;
    }
    #effect{
        margin-top: 5%;
        height: 25%;
    }
    .learn-more {
        width: 30%;
        margin-bottom: 8%;
        font-size: 16px;
    }
    #rotating-topic {
        font-size: 17px;
    }
    .news h1 img{
        width: 7%;
        height: 7%;
    }
    .date{
        width: 15%
    }
    .news-all h3{
        margin-left: 10%
    }
    .box3{
        background-repeat: repeat
    }
    .because {
        font-size: 30px
    }
    .images {
        width: 100%;
        flex-direction: column;
    }
    .images div {
        width: 100%;
        max-width: 80%;
        margin: 2% auto;
    }
    .images img{
        width: 60%;
        margin: 0 auto;
    }
    .images div h2{
        width: 100%;
        font-size: 20px
    }
    .images div p{
        width: 100%;
        margin-top: 3%;
        font-size: 20px
    }
    .logo-end{
        border-top-left-radius: 15px;
        width: 38%
    }
    .logo-end .logotip2{
        border-top-left-radius: 15px;
        height: auto;
    }
    .address-p{
        box-shadow: 0px 0px 10px 10px black;
        width: 70%
    }
    .address-button{
        box-shadow: 0px 0px 10px 10px black
    }
    .follow{
        background: none;
        flex-wrap: wrap;
        box-shadow: none;
        margin-left: 5%;
        width: 90%
    }
    .follow input{
        width: 100%;
        box-shadow: 0px 0px 10px 10px black;
        border-radius: 20px;
        font-size: 17px;
        padding-left: 3%;
        height: 6vh
    }
    .follow button{
        margin-left: 70%;
        margin-top: 2%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 10px black;
        height: 5vh;
        font-size: 15px
    }
    .designed-by{
        margin-left: 5%;
        width: 90%
    }
}
@media (max-width: 480px) {
    .first-part {
        display: flex;
        gap: 0%;
    }
    .logo {
        width: 100%;
        margin: 2% auto;
    }
    .logo p {
        margin-left: 10%;
        font-size: 14px;
        height: 2vh;
        background-color: black;
        box-shadow: 0px 0px 10px 10px black
    }
    .logo div {
        margin-left: 10%;
        border-top-left-radius: 20px;
        width: 80%;
    }
    .logo div .logotip{
        width: 23%;
        height: auto;
        border-top-left-radius: 20px
    }
    .logo div .logo-text{
        width: 100%
    }
    .pages {
        position: relative;
        flex-direction: column;
        align-items: flex-end;
    }
    #menu-toggle {
        font-size: 20px;
        margin-top: 5%;
        margin-right: 5%;
        display: block;
    }
    #rotating-text{
        display: flex;
        margin-top: 10%;
        align-items: center;
        justify-content: flex-start;
        padding-left: 10%
    }
    #effect{
        margin-top: 3%;
        height: 20%;
    }
    .pages a {
        display: none;
        background-color: chocolate;
        color: black;
        padding: 8px 5px;
        border-radius: 4px;
        font-size: 14px;
        text-align: right;
        border-left: 2px solid white;
        width: 55%;
        z-index: 100;
        box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    }
    .pages a:hover{
        color: white
    }
    .pages a.show {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    #rotating-text {
        font-size: 18px;
        margin: 5%;
    }
    .learn-more {
        width: 35%;
        font-size: 14px;
        margin-bottom: 8%;
        margin-left: 30%;
        height: 5vh;
    }
    .box2{
        height: 60vw;
    }
    #rotating-topic {
        font-size: 15px;
    }
    .carousel-container{
        height: 95vw;
    }
    .carousel-nav{
        margin-top: 11.5%;
        height: 8%;
    }
    .carousel-nav button {
        padding: 5px 18px;
        margin: 0 30%;
    }
    .news h1 {
        font-size: 26px;
    }
    .news h1 img{
        width: 8%;
        height: 8%;
    }
    .date {
        flex-wrap: wrap;
        width: 12%;
    }
    .news-all h3 {
        margin-left: 8%;
        font-size: 18px;
    }
    .news-all p {
        font-size: 14px;
    }
    .because {
        font-size: 24px;
    }
    .box3{
        background-repeat: repeat;
    }
    .images {
        flex-direction: column;
    }
    .images div {
        padding-top: 10%;
        max-width: 95%;
        margin: 3% auto;
    }
    .images div img{
        border-radius: 30px
    }
    .images div h2 {
        font-size: 14px;
    }
    .images div p {
        font-size: 15px;
    }
    .logo-end{
        margin-left: 16%;
        width: 60%
    }
    .address-p{
        width: 80%;
        font-size: 16px;
        box-shadow: 0px 0px 10px 10px black
    }
    .address-button{
        font-size: 16px;
        box-shadow: 0px 0px 10px 10px black
    }
    .e-mail-button{
        font-size: 16px;
        box-shadow: 0px 0px 10px 10px black
    }
    .logo-end .logotip2{
        height: auto;
        width: 25%;
        border-top-left-radius: 15px
    }
    .follow {
        flex-direction: column;
        width: 95%;
        background: none;
        box-shadow: 0px 0px 0px 0px ;
        display: flex
    }
    .follow input {
        width: 95%;
        padding-left: 2%;
        height: 5vh;
        box-shadow: 0px 0px 10px 10px black;
        border-radius: 20px;
        font-size: 13px;
        margin-bottom: 2%;
    }
    .follow button {
        border-radius: 10px;
        margin-left: 60%;
        font-size: 15px;
        width: 40%;
        box-shadow: 0px 0px 10px 10px black;
        height: 6vh;
    }
    .designed-by{
        width: 95%;
        margin-left: 1%;
        font-size: 12px;
        box-shadow: 0px 0px 10px 10px black
    }
}

    